COC_HTTP_ADDR=:8080
COC_DATABASE_PATH=.data/coc.db
COC_BACKUP_DIR=.data/backups
COC_OFFICIAL_OCCUPATIONS_PATH=data/rules/coc7/occupations.official.json
COC_CUSTOM_OCCUPATIONS_PATH=.data/rules/coc7/occupations.custom.json
COC_COOKIE_SECURE=false
COC_ASSET_DIR=.data/assets
COC_NOTIFICATION_PROVIDER=console
